.isActiveRed{
    border-color: rgb(202, 2, 2) rgb(202, 2, 2) rgb(202, 2, 2) rgb(202, 2, 2);
}

.isActiveGreen{
    border-color: rgb(62, 236, 62) rgb(62, 236, 62) rgb(62, 236, 62) rgb(62, 236, 62);
}

.isActiveOrange{
    border-color: rgb(255, 145, 0) rgb(255, 145, 0) rgb(255, 145, 0) rgb(255, 145, 0);
}

.isInActive{
    border-color: #8b8b8b #8b8b8b #8b8b8b #8b8b8b;
    background-color: #8b8b8b;
}