@keyframes enterAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    50%{
      opacity: 0.5;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@keyframes deleteAnimation {
    0% {
        opacity: 1;
      }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.todoItem{
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    animation: enterAnimation 0.4s ease-in;
}

.todoItemDelete{
    animation: deleteAnimation 0.4s ease-out;
}

.todoItem ul{
    list-style: none;
    border: 2px solid #9147ff;
    border-radius: 10px;
    padding: 1em;
}

.todoItem li{
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    margin-bottom: 0.7em;
    padding: 0.2em;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.7);
}

.todoItem input[type="text"]{
    margin-right: 0.2em;
    border-radius: 6px;
    line-height: 1.5;
    width: 16em;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    outline: none;
}
.todoItem input[type="text"]:hover{
    border-color: #ccc;
}
.todoItem input[type="text"]:focus{
    border-color: #9147ff;
    background: #fff;
}

.todoItem h3{
    display: flex;
    justify-content: space-between;
}

.filterButtonGroup > button{
    margin-right: 0.2em;
}

.taskItem{
    display: flex;
    justify-content: space-between;
    max-width: 16em;
}

.taskItem input[type="checkbox"]{
    --checkbox-height: 25px;
    height: var(--checkbox-height);
    width: var(--checkbox-height);
    position: relative;
    cursor: pointer;
}

.taskItem span{
    position: relative;
}

.deleteButton{
    padding: 0.3em 0.4em!important;
    background-color: rgba(255,255,255,1)!important;
    outline: 2px solid rgba(252, 46, 46, 0.856)!important;
    position: relative!important;
    justify-self: end;
    transition: 0.4s;
}

.deleteButton:hover{
    background-color: rgba(252, 46, 46, 0.856)!important;
}

.error{
    border: 1px solid red!important;
}

.errorMessage{
    color:red;
}

.completedTask span{
    transition: text-decoration 0.4s ease-in;
    opacity: 0.5;
    text-decoration: line-through;
}

.activeFilter{
    background-color: #6871f5c0!important;
}