.todoItem{
    margin-right: 2em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.todoItem ul{
    list-style: none;
    border: 2px solid #9147ff;
    border-radius: 10px;
    padding: 1em;
}

.todoItem li{
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    margin-bottom: 0.7em;
    padding: 0.2em;
    cursor:grab;
    border: 1px solid rgba(0,0,0,0.7);
}

.todoItem input[type="text"]{
    margin-right: 0.2em;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    outline: none;
}
.todoItem input[type="text"]:hover{
    border-color: #ccc;
}
.todoItem input[type="text"]:focus{
    border-color: #9147ff;
    background: #fff;
}

.filterButtonGroup > button{
    margin-right: 0.2em;
}

.deleteButton{
    padding: 0.3em 0.4em!important;
    background-color: rgba(255,255,255,1)!important;
    outline: 2px solid rgba(252, 46, 46, 0.856)!important;
    transition: 0.4s;
}

.deleteButton:hover{
    background-color: rgba(252, 46, 46, 0.856)!important;
}

.error{
    border: 1px solid red!important;
}

.errorMessage{
    color:red;
}

.completedTask{
    opacity: 0.5;
}